.card-container {
  padding-left: 22px;
}
.title {
  text-align: center;
  color: #1c2b35;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.card-body {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #1c2b35;
}
.cart-info {
  font-weight: 450;
  font-size: 18px;
  line-height: 20px;
  color: #2a414f;
}
.cart-total {
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  color: #0e161a;
  margin-top: 50px;
}
